.project-image {
  width: 250px;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 12px auto;
}
.project-card img.project-image {
  width: 180px !important;
  max-width: 180px !important;
  height: auto !important;
  border-radius: 8px;
  display: block;
  margin: 12px auto;
}


